@font-face {
    font-family: pixeloid;
    src: url(PixeloidSans-mLxMm.ttf);
}
@font-face {
    font-family: pixeloid_bold;
    src: url(PixeloidSansBold-PKnYd.ttf);
}

@font-face {
    font-family: consolas;
    src: url(../fonts/Consolas.ttf);
}

code{
    font-family: consolas;
}

html{
    font-family: pixeloid;
}
button{
    font-family: pixeloid;
}
input{
    font-family: pixeloid;
}
h1, h2, h3, h4, h5, h6{
    font-family: pixeloid_bold;
}
