/* This is custom CSS and I am making it better, to make it more like bootstrap but easier */

body{
    background-color: #3b3b3b;
    color: white;
    text-align: center;
    height: 100%;
    margin:0;
}
body.dark{
    background-color: #3b3b3b;
    color: white;
    text-align: center;
    height: 100%;
    margin:0;
}
body.light{
    background-color: white;
    color: #000000;
    text-align: center;
    height: 100%;
    margin:0;
}
.unused{
	display: none;
}
.small{
    margin: 1px;
}
nav#navBar{
    background-color: #0066a5;
    color:white;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    text-align: left;
}
ul#nav_links{
    background-color: #0066a5;
    color:white;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    text-align: left;
}
nav#navBar.fix-pos{
    background-color: #0066a5;
    color:white;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    text-align: left;
	position: fixed;
}
ol#navBar{
    background-color: #0066a5;
    color:white;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    text-align: left;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(#active) {
    background-color: #0076bf;
    cursor: pointer;
}

li a#active {
    background-color: #0099db;
}
li a:hover#active{
    background-color: #009dff;
    cursor: not-allowed;
}

div#content{
    margin-top: 48px;
}
a{
    color: rgb(0, 140, 255);
    text-decoration: underline;
}
a.noDecor{
    color: white;
    text-decoration: none;
}
a:hover:not(.no_high){
    color: rgb(125, 197, 255);
}
button{
    width: 250px;
    height: 25px;
    cursor: pointer;
}
li.right{
    float: right;
}
div.right{
    float: right;
}
button{
    color: white;
    background-color: #626262;
}
button:hover{
    background-color: #0057bb;
}
button:disabled{
    color: #b4b4b4;
    background-color: #3e3e3e;
    cursor: not-allowed;
}
input{
    color: white;
    background-color: #626262;
}
@keyframes iframe-not-hovered {
    from{outline: solid #009dff 3px;}
    to{outline: solid #626262 3px;}
}
@keyframes input-not-hovered {
    from{outline: solid #009dff 3px;}
    to{outline: solid #626262 3px;}
}
@keyframes button-not-hovered {
    from{outline: solid #009dff 3px;}
    to{outline: solid #626262 3px;}
}

/* Dialogs */
dialog {
    background-color: #3e3e3e;
    color: white;
    border-radius: 20px;
    border-color: #626262;
}
dialog::backdrop {
    background-image: linear-gradient(
        180deg,
        #323232,
        #3e3e3e,
        #626262
    );
    opacity: 0.5;
}

/* Other */
iframe{
    animation: iframe-not-hovered 2.5s;
    outline: solid #626262 3px;
    border-radius: 3px;
    background-color: #323232;
}
iframe:hover{
    outline: solid #009dff 3px;
}
input{
    animation: input-not-hovered 2.5s;
    outline: solid #626262 3px;
    background-color: #323232;
}
input:hover{
    outline: solid #009dff 3px;
}
button{
    animation: button-not-hovered 2.5s;
    outline: solid #626262 3px;
    background-color: #323232;
}
button:disabled{
    background-color: #101010;
    color: #b4b4b4;
}
button:hover{
    outline: solid #009dff 3px;
}
iframe.noOutline{
    outline: solid rgba(0, 0, 0, 0) 3px;
}
iframe.noOutline:hover{
    outline: solid rgba(0, 0, 0, 0) 3px;
}
input::placeholder{
    color: #b4b4b4;
    opacity: 1; /* Firefox */
}
input::-ms-input-placeholder{
    color: #b4b4b4;
}
.inline{
    display: inline;
}
.flex{
    display: flex;
}
fieldset{
    border-radius: 15px;
    background-color: #000000;
}

/* This is unused CSS and will be removed soon
.google{
    margin: auto;
    max-width: 500px;
} */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.left {
	text-align: left;
	justify-content: left;
	align-items: left;
}
.right {
	text-align: right;
	justify-content: right;
	align-items: right;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

/* toggles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.gray{
    background-color: #3e3e3e;
}

code{
    background-color: #000000;
    font-size: large;
}

.dsst_blue{
    color: #00aeff;
}

#dsst0{
    text-decoration: underline;
}

#dsst1{
    font-size: smaller;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
p#confirmation{
    color: #00ff00;
}
footer{
    margin-top: 25px;
    background-color: #000000;
}
.dark{
    background-color: #000000;
    color: #ffffff;
}
.light{
    background-color: #ffffff;
    color: #000000;
}
